$breakpoints: (
  "xxm": 360px,
  "xm": 540px,
  "sm": 768px,
  "md": 1024px,
  "lg": 1280px,
  "xl": 1366px,
  "xxl": 1920px,
);

html {
  --bodyBGColor: #fffeff;
  --textColor: #0f0e11;
  --cardBGColor: #124e85;
  --cardShadow: #0c4376;
  --cardTextColor: #fff;
  --authAnimation: all 0.3s ease;
  --circleBGColor: #1f97c1;
  --errorColor: rgb(236, 39, 39);
}

html[data-theme=""] {
  --bodyBGColor: #fffeff;
  --textColor: #0f0e11;
  --cardBGColor: #124e85;
}

@mixin breakpoint($name) {
  @media (min-width: map-get($breakpoints, $name)) {
    @content;
  }
}

@mixin flexAlignCenter {
  display: flex;
  align-items: center;
}

@mixin flexCenter {
  @include flexAlignCenter;
  justify-content: center;
}

@mixin alert {
  @include flexAlignCenter;
  padding: 6px 16px;
}

@mixin authBorderRadius {
  border-radius: 15px;
}
