@use "@styles/globalStyles.scss" as G;

.signInContainer {
  width: 100%;
  margin: auto;
  background-color: antiquewhite;
  height: 200px;

  @include G.breakpoint("xxl") {
    max-width: 1920px;
  }
}
